// Step 1: Override Bootstrap variables before importing Bootstrap
$warning: #9198a1; // Custom primary color
$secondary: #3d444d; // Custom secondary color
$success: #212830; // Custom success color
$danger: #0d1117; // Custom danger color
$dark:black;
$info:#4493f8;




// Step 2: Import Bootstrap's SCSS files
@import "bootstrap/scss/bootstrap";
